@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/circe-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/circe-bold.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'IntroScriptR-H2Base';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/IntroScriptR-H2Base.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('Open-sans'), url('../fonts/open-sans-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/open-sans-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'PlayFairDisplay';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playfair-display-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/playfair-display-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'PlayFairDisplay';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/playfair-display-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/playfair-display-700italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-family: Arial, serif;
}
html {
  font-family: 'Roboto', 'Arial', sans-serif;
}
body {
  margin: 0;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
blockquote {
  margin: 0;
}
p {
  margin: 0;
}
picture {
  display: block;
}
.container {
  width: 88.125%;
  margin: 0 auto;
}
@media (min-width : 660px) {
  .container {
    width: 94.791666666%;
  }
}
@media (min-width: 1180px) {
  .container {
    width: 89.311859443%;
    max-width: 1220px;
  }
}
.container {
  width: 88.125%;
  margin: 0 auto;
}
@media (min-width : 660px) {
  .container {
    width: 94.791666666%;
  }
}
@media (min-width: 1180px) {
  .container {
    width: 89.311859443%;
    max-width: 1220px;
  }
}
.title {
  margin: 0;
  font-family: 'PlayFairDisplay', serif;
  font-weight: 700;
  letter-spacing: 0.22px;
  color: #2d2829;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
}
@media (min-width : 660px) {
  .title {
    font-size: 60px;
    line-height: 55px;
  }
}
@media (min-width: 1180px) {
  .title {
    font-size: 40px;
    line-height: 65px;
  }
}
.subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 78px;
  font-weight: 400;
  font-family: "IntroScriptR-H2Base", sans-serif;
  color: #32313d;
  text-align: center;
}
@media (min-width : 660px) {
  .subtitle {
    font-size: 36px;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 226px;
  height: 51px;
  border-radius: 26px;
  font-size: 13px;
  font-family: Circe, sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f50049;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 0px 5px 7px 1px rgba(255, 0, 67, 0.7);
  transition: all 0.3s ease-in-out;
}
.btn:active {
  opacity: 0.4;
}
.page-header {
  position: relative;
}
.page-header__logotype {
  font-family: 'PlayFairDisplay', serif;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.24px;
}
.page-header__inner {
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__toggler {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 18px;
  height: 14px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.page-header__toggler span {
  position: absolute;
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000000;
}
.page-header__toggler span:nth-child(1) {
  top: 0;
  transition: all 0.3s ease-in-out;
}
.page-header__toggler span:nth-child(2) {
  top: 6px;
  transition: all 0.3s ease-in-out;
}
.page-header__toggler span:nth-child(3) {
  top: 12px;
  transition: all 0.3s ease-in-out;
}
.page-header__toggler--opened span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  transition: all 0.3s ease-in-out;
}
.page-header__toggler--opened span:nth-child(2) {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.page-header__toggler--opened span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition: all 0.3s ease-in-out;
}
.page-header__link {
  font-family: Circe, sans-serif;
  font-weight: 700;
  color: #2d2829;
  font-size: 15px;
}
.page-header__link--hidden {
  display: none;
}
@media (min-width : 660px) {
  .page-header {
    display: flex;
    align-items: center;
    padding-left: 46px;
    padding-right: 46px;
  }
  .page-header__inner {
    justify-content: flex-start;
  }
  .page-header__logo {
    margin-right: 26px;
  }
  .page-header__link--hidden {
    margin-left: auto;
    display: block;
  }
}
@media (min-width: 1180px) {
  .page-header {
    display: flex;
    background-color: #fbebea;
    padding-top: 50px;
    padding-left: 73px;
    padding-right: 73px;
  }
  .page-header__toggler {
    display: none;
  }
  .page-header__inner {
    padding: 0;
    margin-right: 48px;
  }
  .page-header__logo {
    order: 1;
    margin: 0;
  }
  .page-header__logotype {
    font-size: 23px;
  }
  .page-header__link {
    padding-top: 15px;
    order: 3;
  }
}
.main-nav {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.main-nav--closed {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.main-nav--opened {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.main-nav__link {
  display: block;
  padding-top: 19px;
  padding-bottom: 15px;
  font-family: Circe, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #383838;
  text-align: center;
  background-color: #e7e7e7;
  text-transform: uppercase;
}
.main-nav__link:hover {
  color: #f50049;
}
.main-nav__link:active {
  color: rgba(255, 0, 67, 0.5);
}
.main-nav__item {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.95);
}
.main-nav__item:nth-child(6) {
  box-shadow: 0 -1px 0px 0 rgba(0, 0, 0, 0.15);
}
@media (min-width : 660px) {
  .main-nav {
    width: auto;
    min-width: 322px;
  }
  .main-nav--opened {
    top: 40px;
  }
  .main-nav--closed {
    top: 40px;
  }
  .main-nav__link {
    padding-top: 15px;
    padding-bottom: 11px;
  }
}
@media (min-width: 1180px) {
  .main-nav {
    position: relative;
  }
  .main-nav--closed {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    top: auto;
  }
  .main-nav__list {
    display: flex;
  }
  .main-nav__link {
    background-color: transparent;
    padding-bottom: 0;
    font-size: 13px;
  }
  .main-nav__item {
    box-shadow: none;
    margin-right: 44px;
  }
  .main-nav__item:nth-child(6) {
    box-shadow: none;
  }
}
.page-content {
  background-color: #fbebea;
}
.intro {
  padding-top: 130px;
  background-image: url("../img/header-cake-mobile.png");
  background-position: center -205px;
  background-repeat: no-repeat;
  background-color: #fbebea;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .intro {
    background-image: url("../img/header-cake-mobile@2x.png");
    background-size: 391px 391px;
  }
}
.intro__inner {
  display: flex;
  flex-direction: column;
}
.intro__btn {
  margin: 0 auto;
  margin-top: 28px;
  order: 2;
}
.intro__features {
  order: 1;
}
.intro__item {
  padding-left: 42px;
  margin-bottom: 25px;
  font-family: Circe, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  position: relative;
}
.intro__item::before {
  display: block;
  width: 33px;
  height: 33px;
  content: "";
  background-color: transparent;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
}
.intro__item:first-child::before {
  background-image: url("../img/feature-1.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .intro__item:first-child::before {
    background-image: url("../img/feature-1@2x.png");
  }
}
.intro__item:last-child::before {
  background-image: url("../img/icon-delivery.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .intro__item:last-child::before {
    background-image: url("../img/icon-delivery@2x.png");
  }
}
.intro__break--hidden {
  display: none;
}
@media (min-width : 660px) {
  .intro {
    padding-top: 110px;
    background-image: url("../img/header-cake-desktop.png");
    background-size: contain;
    background-position: right 13px;
  }
  .intro__title,
  .intro__subtitle {
    text-align: left;
  }
  .intro__btn {
    order: 1;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 140px;
  }
  .intro__list {
    display: flex;
  }
  .intro__item {
    margin-bottom: 0;
  }
  .intro__item:first-child {
    margin-right: 140px;
  }
  .intro__break--hidden {
    display: block;
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .intro {
    background-image: url("../img/header-cake-desktop@2x.png");
    background-size: 768px 941px;
  }
}
@media (min-width: 1180px) {
  .intro {
    background-image: url("../img/header-cake-desktop.png"), url("../img/header-decor-1.png"), url("../img/header-decor-2.png"), url("../img/header-decor-3.png");
    background-position: right 16px, top 44px left 41.07%, top 228px left 38.36%, top 388px left 26.21%;
    padding-bottom: 350px;
    background-size: initial;
  }
  .intro__title {
    font-size: 78px;
    line-height: 70px;
  }
  .intro__subtitle {
    font-size: 41px;
  }
}
@media (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1180px) and (min-resolution: 192dpi) {
  .intro {
    background-image: url("../img/header-cake-desktop@2x.png"), url("../img/header-decor-1@2x.png"), url("../img/header-decor-2@2x.png"), url("../img/header-decor-3@2x.png");
    background-size: 768px 941px,111px 110px, 63px 60px, 168px 119px;
  }
}
.cakes {
  padding-top: 20px;
  background-color: #fbebea;
}
.cakes__title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 66px;
  letter-spacing: 0.04px;
}
.cakes__item {
  position: relative;
  min-height: 120px;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center bottom;
}
.cakes__item::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.4;
  z-index: 0;
}
.cakes__item:hover {
  box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.12);
}
.cakes__item:hover::before {
  display: block;
}
.cakes__item--classic {
  background-image: url("../img/classic-cake-mobile.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cakes__item--classic {
    background-image: url("../img/classic-cake-mobile@2x.jpg");
    background-size: 280px 120px;
  }
}
.cakes__item--mousse {
  background-image: url("../img/mousse-cake-mobile.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cakes__item--mousse {
    background-image: url("../img/mousse-cake-mobile@2x.jpg");
    background-size: 280px 120px;
  }
}
.cakes__item--wedding {
  background-image: url("../img/wedding-cake-mobile.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cakes__item--wedding {
    background-image: url("../img/wedding-cake-mobile@2x.jpg");
    background-size: 280px 120px;
  }
}
.cakes__item--man {
  background-image: url("../img/man-cake-mobile.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cakes__item--man {
    background-image: url("../img/man-cake-mobile@2x.jpg");
    background-size: 280px 120px;
  }
}
.cakes__item--woman {
  background-image: url("../img/woman-cake-mobile.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cakes__item--woman {
    background-image: url("../img/woman-cake-mobile@2x.jpg");
    background-size: 280px 120px;
  }
}
.cakes__item--children {
  background-color: #f4f3f6;
  background-image: url("../img/children-cake-mobile.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cakes__item--children {
    background-image: url("../img/children-cake-mobile@2x.jpg");
    background-size: 280px 120px;
  }
}
.cakes__category,
.cakes__counter {
  font-size: 14px;
  font-family: Circe, sans-serif;
  font-weight: 400;
  color: #2d2829;
}
.cakes__counter {
  font-size: 12px;
}
.cakes__text {
  display: none;
}
.cakes__link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 14px;
  width: 100%;
  height: 100%;
  min-height: 150px;
  box-sizing: border-box;
}
@media (min-width : 480px) {
  .cakes__item {
    min-height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width : 660px) {
  .cakes {
    padding-top: 150px;
  }
  .cakes__title {
    text-align: left;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .cakes__list {
    display: flex;
    justify-content: center;
  }
  .cakes__item {
    width: 290px;
    max-width: 290px;
    flex-shrink: 1;
    flex-grow: 1;
    background-size: cover;
  }
  .cakes__item--big {
    max-width: 420px;
    flex-shrink: 1;
    flex-grow: 2;
    margin-right: 20px;
  }
  .cakes__item--big:nth-last-of-type(1) {
    margin-right: 0;
    margin-left: 20px;
  }
  .cakes__item--classic {
    background-image: url("../img/classic-cake-desktop.jpg");
  }
  .cakes__item--mousse {
    background-image: url("../img/mousse-cake-desktop.jpg");
  }
  .cakes__item--wedding {
    background-image: url("../img/wedding-cake-desktop.jpg");
  }
  .cakes__item--man {
    background-image: url("../img/man-cake-desktop.jpg");
  }
  .cakes__item--woman {
    background-image: url("../img/woman-cake-desktop.jpg");
  }
  .cakes__item--children {
    background-image: url("../img/children-cake-desktop.jpg");
  }
  .cakes__text {
    margin-top: auto;
    display: block;
    text-align: right;
    font-family: Circe, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #2d2829;
  }
  .cakes__link {
    min-height: 150px;
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .cakes__item--classic {
    background-image: url("../img/classic-cake-desktop@2x.jpg");
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .cakes__item--mousse {
    background-image: url("../img/mousse-cake-desktop@2x.jpg");
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .cakes__item--wedding {
    background-image: url("../img/wedding-cake-desktop@2x.jpg");
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .cakes__item--man {
    background-image: url("../img/man-cake-desktop@2x.jpg");
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .cakes__item--woman {
    background-image: url("../img/woman-cake-desktop@2x.jpg");
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .cakes__item--children {
    background-image: url("../img/children-cake-desktop@2x.jpg");
  }
}
@media (min-width: 1180px) {
  .cakes {
    padding-top: 0;
  }
  .cakes__column {
    width: 100%;
  }
  .cakes__item {
    width: 100%;
    max-width: initial;
    min-height: 305px;
    margin-bottom: 42px;
  }
  .cakes__item--big {
    max-width: 696px;
    min-height: 652px;
    margin-right: 41px;
  }
  .cakes__item--big:nth-last-of-type(1) {
    margin-right: 0;
    margin-left: 42px;
  }
  .cakes__link {
    padding: 40px;
    min-height: 305px;
  }
  .cakes__category {
    font-size: 24px;
  }
  .cakes__counter {
    font-size: 20px;
  }
  .cakes__text {
    font-size: 20px;
  }
}
.order {
  background-color: #fbebea;
  padding-top: 40px;
}
.order__title {
  font-size: 24px;
  letter-spacing: 0.04px;
}
.order__title--left {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
}
.order__step {
  position: relative;
  box-sizing: border-box;
  min-height: 430px;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 0 20px;
}
.order__step--third {
  flex-direction: column;
}
.order__headline {
  font-family: 'PlayFairDisplay', serif;
  color: #f50049;
  font-size: 30px;
  line-height: 62px;
  letter-spacing: 0.05px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px;
}
.order__caption {
  font-family: 'PlayFairDisplay', serif;
  color: #f50049;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.07px;
  font-weight: 700;
}
.order__pic {
  position: relative;
  margin: 0;
  text-align: center;
}
.order__counter {
  position: absolute;
  bottom: 0;
  right: 7px;
  font-family: Circe, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
}
.order__counter--dark {
  color: #2f2f2f;
}
.order__img {
  vertical-align: top;
}
.order__picture {
  position: relative;
  z-index: 0;
}
.order__picture::before {
  content: "";
  position: absolute;
  width: calc(130%);
  height: calc(130%);
  border-radius: 50%;
  background-color: white;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.order__name {
  font-family: Circe, sans-serif;
  font-weight: 700;
  color: #2f2f2f;
  letter-spacing: 0.03px;
  font-size: 16px;
  line-height: 54px;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}
.order__name--regular {
  font-weight: 400;
  margin-top: 10px;
}
.order__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order__item:nth-child(n+2) {
  display: none;
}
.order__text {
  font-family: Circe, sans-serif;
  font-size: 14px;
  color: #2f2f2f;
  font-weight: 400;
}
.order__price {
  display: block;
  text-align: center;
  font-family: 'PlayFairDisplay', serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #2f2f2f;
}
.order__link {
  border: none;
  padding: 0;
  margin: 0 auto;
  max-width: 180px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.order__pagination {
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  display: flex;
  justify-content: space-between;
}
.order__pagination--step-two {
  top: 215px;
}
.order__pagination--step-three {
  top: 260px;
}
.order__dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #dddddd;
  border-radius: 50%;
}
.order__dot--active {
  background-color: #f50049;
}
.order__dot:hover {
  background-color: #f50049;
}
.order__dot:active {
  background-color: rgba(255, 0, 67, 0.7);
}
.order__slider {
  position: relative;
}
.order__size {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order__size:nth-child(n+2) {
  display: none;
}
.order__size:hover .order__picture::before {
  box-shadow: 0px 6px 15.52px 0.48px rgba(103, 12, 40, 0.14);
}
.order__weight {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: Circe, sans-serif;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  color: #2f2f2f;
}
.order__length,
.order__amount {
  display: block;
  font-family: Circe, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2f2f2f;
}
.order__length {
  margin-top: 70px;
}
.order__amount {
  margin-bottom: 30px;
}
.order__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.order__label {
  color: #f50049;
  line-height: initial;
}
.order__input {
  border-radius: 15px;
  padding: 7px 62px;
  border: 1px solid #dddddd;
  font-family: Circe, sans-serif;
  font-size: 14px;
  color: #2d2829;
  font-weight: 400;
}
.order__btn {
  margin: 0 auto;
  border: none;
  padding: 0;
  margin-top: 55px;
}
.order__form {
  padding-bottom: 55px;
}
.order__button {
  display: none;
}
@media (min-width : 660px) {
  .order__title {
    font-size: 28px;
  }
  .order__subtitle {
    font-size: 26px;
    line-height: initial;
    margin-bottom: 30px;
  }
  .order__break--hidden {
    display: none;
  }
  .order__step {
    display: flex;
    padding: 40px 40px;
    padding-right: 50px;
    min-height: 348px;
  }
  .order__step--column {
    flex-direction: column;
  }
  .order__step--third {
    position: relative;
  }
  .order__step--third::before {
    content: "";
    width: 313px;
    height: 77px;
    position: absolute;
    bottom: -77px;
    right: -16px;
    background-image: url("../img/left-pattern.png");
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .order__step--third::after {
    content: "";
    width: 313px;
    height: 77px;
    position: absolute;
    bottom: -77px;
    left: -8%;
    background-image: url("../img/left-pattern.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .order__item {
    flex-direction: row;
    align-items: flex-start;
  }
  .order__item--column {
    flex-direction: column;
    margin-right: 28px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
  .order__item--column:last-child {
    margin-right: 0;
  }
  .order__item--column:hover {
    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease-in-out;
  }
  .order__item:nth-child(n+2) {
    display: flex;
  }
  .order__headline {
    display: block;
    font-size: 36px;
  }
  .order__caption {
    font-size: 18px;
  }
  .order__info {
    margin-top: -30px;
    width: 130px;
  }
  .order__info:nth-last-child(1) {
    margin-top: 0;
    margin-right: 0;
    width: auto;
  }
  .order__text {
    width: 180px;
  }
  .order__pagination {
    display: none;
  }
  .order__counter {
    position: absolute;
    right: -278px;
    bottom: 0;
    color: #2f2f2f;
  }
  .order__counter--right {
    display: none;
  }
  .order__pic--bg {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    background-color: #fbebea;
    min-height: 240px;
    min-width: 90px;
    margin-right: 25px;
  }
  .order__pic--circle {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 140px;
    justify-content: flex-end;
    align-items: center;
  }
  .order__price {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .order__link {
    max-width: 135px;
    margin: 0;
    margin-top: 11px;
    height: 43px;
  }
  .order__link--hidden {
    display: none;
  }
  .order__name {
    line-height: initial;
    font-size: 18px;
  }
  .order__button {
    display: block;
    box-sizing: border-box;
    padding: 0;
    border: none;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    background-image: url("../img/arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
  }
  .order__button:hover {
    box-shadow: 0 2px 7px 1px rgba(255, 0, 67, 0.7);
    transition: all 0.3s ease-in-out;
  }
  .order__button:first-child {
    position: absolute;
    top: 50%;
    left: -82px;
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
  }
  .order__button:last-child {
    margin-left: 48px;
  }
  .order__button--margin {
    margin-left: 26px !important;
  }
  .order__button--left {
    left: 0;
  }
  .order__slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
  }
  .order__size:nth-child(n+2) {
    display: block;
  }
  .order__items {
    display: flex;
    justify-content: space-between;
  }
  .order__length {
    display: block;
    width: 100%;
    margin-top: 24px;
    text-align: left;
  }
  .order__weight--first {
    top: 74%;
  }
  .order__weight--second {
    top: 63%;
  }
  .order__weight--third {
    top: 59%;
  }
  .order__list--second {
    display: flex;
  }
  .order__name--regular {
    font-size: 14px;
    margin: 0;
  }
  .order__price {
    line-height: initial;
    font-size: 14px;
  }
  .order__title {
    font-size: 28px;
    width: 100%;
    flex-shrink: 0;
  }
  .order__form {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .order__label {
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
  }
  .order__block {
    max-width: 160px;
    margin: 0;
    margin-right: 20px;
  }
  .order__block:nth-child(4) {
    margin-right: 42px;
  }
  .order__block:nth-child(3) {
    max-width: 74px;
  }
  .order__input {
    padding: 7px 28px;
  }
  .order__btn {
    margin: 0;
    margin-top: 12px;
    width: 160px;
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .order__button {
    background-image: url("../img/arrow@2x.png");
    background-size: 9px 16px;
  }
}
@media (min-width: 1180px) {
  .order {
    padding-top: 60px;
  }
  .order__title--left {
    margin-top: 70px;
    font-size: 27px;
  }
  .order__subtitle {
    margin-bottom: 40px;
  }
  .order__headline {
    font-size: 58px;
    margin-bottom: 10px;
  }
  .order__caption {
    font-size: 27px;
  }
  .order__info {
    margin-right: 82px;
  }
  .order__pic--circle {
    height: auto;
  }
  .order__pic--bg {
    margin-right: 42px;
  }
  .order__name {
    font-size: 20px;
  }
  .order__name--margin {
    position: relative;
    z-index: 1;
    margin-top: -95px;
  }
  .order__text {
    font-size: 18px;
    width: 268px;
  }
  .order__price {
    font-size: 22px;
    margin-bottom: 50px;
    margin-top: 15px;
  }
  .order__price--margin {
    position: relative;
    z-index: 1;
    margin: 0;
  }
  .order__item {
    align-items: center;
    justify-content: flex-start;
  }
  .order__item--column {
    margin-right: 40px;
    width: 324px;
    min-height: 430px;
  }
  .order__step {
    padding: 80px;
    margin-bottom: 35px;
  }
  .order__step--third::before,
  .order__step--third::after {
    display: none;
  }
  .order__link {
    max-width: 180px;
  }
  .order__slider {
    width: 100%;
    box-sizing: border-box;
  }
  .order__slider--padding {
    justify-content: flex-start;
    padding-left: 110px;
  }
  .order__button:last-child {
    margin-left: auto;
  }
  .order__button--margin {
    margin: 0 !important;
  }
  .order__button--relative {
    position: relative !important;
    left: initial !important;
    top: initial !important;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .order__counter {
    font-size: 18px;
    right: -80%;
  }
  .order__items {
    padding: 0 100px;
    justify-content: center;
    padding-bottom: 68px;
    align-items: flex-end;
  }
  .order__size {
    margin-right: 75px;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .order__size:last-child {
    margin-right: 0;
  }
  .order__length,
  .order__amount {
    font-size: 18px;
  }
  .order__length {
    min-width: 126px;
    margin-top: 35px;
  }
  .order__amount {
    margin-bottom: 0;
  }
  .order__weight--first {
    top: 50%;
  }
  .order__weight--second {
    top: 50%;
  }
  .order__weight--third {
    top: 50%;
  }
  .order__weight--fourth {
    top: 50%;
  }
  .order__list--second {
    margin: 0 45px;
  }
  .order__label {
    font-size: 27px;
  }
  .order__input {
    border: none;
    border-bottom: 1px solid #c1b0af;
    border-radius: initial;
  }
  .order__form {
    align-items: flex-end;
  }
  .order__block {
    max-width: 220px;
    margin-right: 80px;
  }
  .order__block:nth-child(3) {
    max-width: 138px;
  }
  .order__btn {
    width: 220px;
    margin: 0;
  }
}
.reviews__title {
  font-size: 24px;
  line-height: 66px;
  margin-top: 40px;
}
.reviews__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews__author,
.reviews__desc,
.reviews__text {
  display: block;
  text-align: center;
  font-family: Circe, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #2d2829;
}
.reviews__desc,
.reviews__text {
  font-weight: 400;
  font-size: 12px;
}
.reviews__text {
  max-width: 230px;
  text-align: center;
  line-height: initial;
}
.reviews__link {
  color: #f87b91;
  text-decoration: underline;
}
.reviews__link:hover {
  text-decoration: none;
}
.reviews__link:active {
  opacity: 0.3;
}
.reviews__counter {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #f50049;
  font-family: Circe, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  opacity: 0.7;
}
.reviews__pagination {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 50px;
}
.reviews__dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #dddddd;
  border-radius: 50%;
}
.reviews__dot--active {
  background-color: #f50049;
}
.reviews__dot:hover {
  background-color: #f50049;
}
.reviews__dot:active {
  background-color: rgba(255, 0, 67, 0.7);
}
.reviews__button {
  display: none;
}
@media (min-width : 480px) {
  .reviews .reviews__desc,
  .reviews .reviews__text {
    font-size: 14px;
  }
}
@media (min-width : 660px) {
  .reviews__title {
    margin-top: 26px;
    margin-bottom: 10px;
    font-size: 28px;
  }
  .reviews__item {
    flex-direction: row;
  }
  .reviews__list {
    margin: 0 50px;
  }
  .reviews__about {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .reviews__text {
    text-align: left;
  }
  .reviews__slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reviews__pagination {
    display: none;
  }
  .reviews__button {
    display: block;
    box-sizing: border-box;
    padding: 0;
    border: none;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    background-image: url("../img/arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
  }
  .reviews__button:hover {
    box-shadow: 0 2px 7px 1px rgba(255, 0, 67, 0.7);
    transition: all 0.3s ease-in-out;
  }
  .reviews__button--rotate {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .reviews__counter {
    right: -25px;
    line-height: initial;
  }
  .reviews__pic {
    width: 110px;
    height: 110px;
  }
  .reviews__img {
    border-radius: 50%;
  }
  .reviews__desc {
    margin-bottom: 10px;
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .reviews__button {
    background-image: url("../img/arrow@2x.png");
    background-size: 9px 16px;
  }
}
@media (min-width: 1180px) {
  .reviews__title {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .reviews__author {
    font-size: 27px;
    font-style: normal;
  }
  .reviews__desc {
    font-size: 20px;
  }
  .reviews__text {
    font-size: 18px !important;
    width: 354px;
    max-width: none;
  }
  .reviews__item {
    align-items: flex-start;
  }
  .reviews__about {
    margin-left: 50px;
  }
  .reviews__pic {
    height: 210px;
    width: 210px;
  }
}
.about__title {
  font-size: 24px;
  line-height: 66px;
  margin-top: 40px;
}
.about__inner {
  display: flex;
  flex-direction: column;
}
.about__column {
  order: 2;
}
.about__column--mobile {
  display: flex;
  order: 1;
}
.about__subtitle {
  text-align: left;
}
.about__desc,
.about__text {
  font-family: Circe, sans-serif;
  font-weight: 700;
  color: #32313d;
  font-size: 14px;
}
.about__text {
  font-weight: 400;
  margin-bottom: 10px;
}
.about__text:last-child {
  margin-bottom: 0;
}
@media (min-width : 660px) {
  .about__title {
    margin-top: 80px;
    font-size: 28px;
    flex-shrink: 0;
    text-align: left;
    line-height: initial;
  }
  .about__subtitle {
    line-height: initial;
    font-size: 26px;
  }
  .about__inner {
    flex-direction: row;
  }
  .about__column {
    order: 2;
  }
  .about__column--width {
    flex-shrink: 1;
    max-width: 327px;
    margin-right: 34px;
  }
  .about__column--pic {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    flex-grow: 2;
    flex-shrink: 0;
    max-width: 313px;
    margin-left: auto;
  }
  .about__img {
    border-radius: 50%;
  }
}
@media (min-width: 1180px) {
  .about__title {
    margin-top: 150px;
  }
  .about__column--width {
    max-width: 550px;
  }
  .about__column--pic {
    align-items: center;
    max-width: 509px;
    margin-top: -100px;
  }
  .about__desc {
    font-size: 20px;
  }
  .about__text {
    font-size: 18px;
  }
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  font-size: 0;
  transition: all 0.3s ease-in-out;
}
.socials__link--big {
  width: 63px;
  height: 63px;
}
.socials__link:hover {
  box-shadow: 0 2px 7px 1px rgba(255, 0, 67, 0.7);
  transition: all 0.3s ease-in-out;
}
.socials__item {
  margin-bottom: 15px;
}
.socials__item:last-child {
  margin-bottom: 0;
}
.socials__item--big {
  margin-bottom: 0;
  margin-right: 30px;
}
.socials__item--big:last-child {
  margin-right: 0;
}
.socials__list {
  margin-left: 34px;
}
.socials__list--row {
  margin-top: 10px;
  margin-left: 0;
  display: flex;
}
@media (min-width : 660px) {
  .socials {
    margin-top: 20px;
  }
  .socials--hidden {
    display: none;
  }
  .socials__list {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .socials__list--row {
    justify-content: flex-start;
  }
  .socials__item {
    margin: 0;
    margin-right: 23px;
  }
}
.quotes {
  padding-top: 74px;
}
.quotes__quote {
  position: relative;
  font-size: 13px;
  font-family: 'PlayFairDisplay', serif;
  font-weight: 700;
  color: #2d2829;
  font-style: italic;
  max-width: 258px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.26px;
}
.quotes__quote::before {
  content: "’’";
  position: absolute;
  left: 50%;
  top: -60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 60px;
  font-family: PlayFairDisplay, serif;
  font-weight: 700;
  color: #ffffff;
}
.quotes__pic {
  margin-top: 22px;
  text-align: center;
}
@media (min-width : 660px) {
  .quotes {
    margin-top: 40px;
  }
  .quotes__quote {
    max-width: 346px;
    font-size: 14px;
    line-height: 20px;
  }
  .quotes__quote::before {
    font-size: 77px;
  }
}
@media (min-width: 1180px) {
  .quotes {
    margin-top: 100px;
  }
  .quotes__quote {
    max-width: 500px;
    font-size: 25px;
    line-height: 38px;
  }
  .quotes__quote::before {
    font-size: 140px;
  }
}
.features__title {
  font-size: 24px;
  line-height: 66px;
  margin-top: 20px;
}
.features__title--left {
  text-align: left;
}
.features__subtitle {
  line-height: initial;
}
.features__subtitle--left {
  text-align: left;
}
.features__feature--white {
  margin-top: 10px;
  margin-right: -5.9375%;
  margin-left: -5.9375%;
  background-color: #ffffff;
}
.features__feature--bg {
  padding-bottom: 170px;
  background-image: url("../img/feature-cake-mobile.png"), url("../img/feature-dots-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center 210px, center 180px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .features__feature--bg {
    background-image: url("../img/feature-cake-mobile@2x.png"), url("../img/feature-dots-mobile@2x.png");
    background-size: 100%, 100%;
  }
}
.features__list {
  padding: 10px 0;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.features__item:last-child {
  margin-bottom: 0;
}
.features__desc {
  font-family: Circe, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
}
.features__text {
  font-family: Circe, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
}
.features__text--left {
  text-align: left;
}
.features__wrapper {
  text-align: center;
}
@media (min-width : 660px) {
  .features__title {
    margin-top: 74px;
    font-size: 28px;
  }
  .features__title--left {
    margin-top: 190px;
  }
  .features__subtitle {
    font-size: 26px;
    margin-bottom: 50px;
  }
  .features__subtitle--left {
    margin-bottom: 10px;
  }
  .features__wrapper {
    text-align: left;
  }
  .features__feature {
    position: relative;
  }
  .features__feature--white {
    background-color: transparent;
    margin: 0;
  }
  .features__feature--bg {
    padding-bottom: 140px;
    background-image: none;
  }
  .features__feature--bg::before {
    width: 367px;
    height: 367px;
    content: "";
    position: absolute;
    background-image: url("../img/feature-cake-tablet.png");
    right: -20px;
    top: -92px;
  }
  .features__feature:first-of-type::before {
    width: 285px;
    height: 310px;
    position: absolute;
    content: "";
    background-image: url("../img/berries-tablet.png");
    background-repeat: no-repeat;
    top: -60px;
    left: -68px;
  }
  .features__item {
    flex-direction: row;
    justify-content: flex-end;
  }
  .features__wrapper {
    max-width: 260px;
    margin-left: 16px;
  }
  .features__wrapper:first-of-type {
    margin-left: 22px;
  }
  .features__text {
    text-align: left;
  }
  .features__text--left {
    max-width: 300px;
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .features__feature--bg::before {
    background-image: url("../img/feature-cake-tablet@2x.png");
    background-size: 367px 367px;
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .features__feature:first-of-type::before {
    background-image: url("../img/berries-tablet@2x.png");
    background-size: 294px 310px;
  }
}
@media (min-width: 1180px) {
  .features {
    background-image: url(../img/decor-1.png), url(../img/decor-2.png), url(../img/decor-3.png), url(../img/decor-4.png);
    background-repeat: no-repeat;
    background-position: left 28% top 55%, left top 6%, left 8.16% top 0, left 28.09% top 11%;
  }
  .features__wrapper {
    text-align: left;
  }
  .features__title--left {
    padding-top: 450px;
  }
  .features__subtitle {
    font-size: 35px;
  }
  .features__feature:first-of-type::before {
    width: 507px;
    height: 547px;
    background-image: url("../img/berries-desktop.png");
    left: 12%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .features__feature--bg {
    background-image: url("../img/feature-dots-desktop.png");
    background-position: 500px 30px;
  }
  .features__feature--bg::before {
    width: 649px;
    height: 651px;
    background-image: url("../img/feature-cake-desktop.png");
    top: 90px;
  }
  .features__list {
    padding-top: 120px;
  }
  .features__item {
    justify-content: center;
    padding-left: 200px;
  }
  .features__item--padding {
    padding-left: 178px;
  }
  .features__text--left {
    max-width: 350px;
  }
}
@media (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1180px) and (min-resolution: 192dpi) {
  .features {
    background-image: url(../img/decor-1@2x.png), url(../img/decor-2@2x.png), url(../img/decor-3@2x.png), url(../img/decor-4@2x.png);
    background-size: 167px 132px, 52px 54px, 103px 148px, 51px 48px;
  }
}
@media (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1180px) and (min-resolution: 192dpi) {
  .features__feature:first-of-type::before {
    background-image: url("../img/berries-desktop@2x.png");
    background-size: 507px 547px;
  }
}
@media (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1180px) and (min-resolution: 192dpi) {
  .features__feature--bg {
    background-image: url("../img/feature-dots-desktop@2x.png");
    background-size: 768px 802px;
  }
}
@media (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1180px) and (min-resolution: 192dpi) {
  .features__feature--bg::before {
    background-image: url("../img/feature-cake-desktop@2x.png");
    background-size: 649px 651px;
  }
}
.delivery {
  background-color: #e3353d;
  padding-top: 20px;
  padding-bottom: 250px;
  background-image: url("../img/delivery-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .delivery {
    background-image: url("../img/delivery-bg-mobile@2x.jpg");
    background-size: 100%;
  }
}
.delivery__title {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 35px;
}
.delivery__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  padding-right: 20px;
}
.delivery__desc {
  font-family: Circe, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.4px;
}
.delivery__text {
  color: #ffffff;
  font-family: Circe, sans-serif;
  font-weight: 400;
  font-size: 14px;
  max-width: 220px;
}
.delivery__item {
  position: relative;
  margin-bottom: 20px;
}
.delivery__item:last-child {
  margin-bottom: 0;
}
.delivery__item::before {
  content: "1";
  position: absolute;
  left: -30px;
  top: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'PlayFairDisplay', serif;
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
}
.delivery__item:nth-child(2)::before {
  content: "2";
}
.delivery__item:nth-child(3)::before {
  content: "3";
}
@media (min-width : 660px) {
  .delivery {
    padding-top: 50px;
    background-image: url("../img/delivery-bg-tablet.jpg");
    background-size: cover;
  }
  .delivery__title {
    font-size: 28px;
  }
  .delivery__list {
    padding: 0;
    align-items: flex-end;
  }
  .delivery__item {
    width: 365px;
  }
  .delivery__item::before {
    left: -40px;
  }
  .delivery__text {
    margin: 0;
    max-width: initial;
  }
  .delivery__info {
    max-width: 624px;
    margin-left: auto;
  }
}
@media (min-width : 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width : 660px) and (min-resolution: 192dpi) {
  .delivery {
    background-image: url("../img/delivery-bg-tablet@2x.jpg");
  }
}
@media (min-width: 1180px) {
  .delivery {
    background-image: url("../img/delivery-bg-desktop.jpg");
    background-size: 100%;
  }
  .delivery__info {
    max-width: 555px;
  }
}
@media (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1180px) and (min-resolution: 192dpi) {
  .delivery {
    background-image: url("../img/delivery-bg-desktop@2x.jpg");
  }
}
.contacts {
  padding-bottom: 50px;
}
.contacts__title {
  font-size: 24px;
  line-height: 66px;
  margin-top: 40px;
}
.contacts__subtitle {
  line-height: initial;
  text-align: left;
}
.contacts__text {
  text-align: left;
  font-family: Circe, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  margin-bottom: 10px;
}
.contacts__input {
  width: 100%;
  border-radius: 3px;
  font-family: Circe, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  padding: 15px 10px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 10px;
  outline-color: #f50049;
}
.contacts__message {
  resize: none;
  margin-bottom: 20px;
}
.contacts__btn {
  margin: 0 auto;
  padding: 0;
  border: none;
  margin-bottom: 30px;
}
.contacts__desc {
  max-width: 222px;
  text-align: left;
  font-family: Circe, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
}
.contacts__link {
  display: block;
  text-align: left;
  font-family: Circe, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  margin-bottom: 15px;
}
.contacts__link:hover {
  color: #f50049;
}
.contacts__link:active {
  color: rgba(255, 0, 67, 0.7);
}
@media (min-width : 660px) {
  .contacts {
    position: relative;
    padding-bottom: 263px;
  }
  .contacts__title {
    font-size: 28px;
    text-align: left;
    line-height: initial;
  }
  .contacts__subtitle {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .contacts__inner {
    display: flex;
    justify-content: space-between;
  }
  .contacts__column:first-of-type {
    max-width: 346px;
  }
  .contacts__btn {
    margin: 0;
    max-width: 160px;
  }
  .contacts__message {
    min-height: 118px;
  }
}
@media (min-width: 1180px) {
  .contacts {
    background: #fbebea url(../img/footer-cake.png) no-repeat right -145px bottom;
    background-blend-mode: multiply;
  }
  .contacts__inner {
    justify-content: flex-start;
  }
  .contacts__column {
    margin-right: 78px;
  }
  .contacts__column:first-of-type {
    max-width: 550px;
  }
  .contacts__column:last-child {
    margin-right: 0;
  }
  .contacts__btn {
    max-width: 180px;
  }
}
@media (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1180px) and (min-resolution: 192dpi) {
  .contacts {
    background-image: url("../img/footer-cake@2x.png");
    background-size: 886px 636px;
  }
}
.page-footer {
  background-color: #898989;
  padding-top: 40px;
}
.page-footer__logotype {
  display: block;
  font-family: 'PlayFairDisplay', serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.24px;
}
.page-footer__list {
  margin-top: 20px;
}
.page-footer__link {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page-footer__link:hover {
  color: #000000;
}
.page-footer__link:active {
  color: rgba(0, 0, 0, 0.5);
}
.page-footer__copyright {
  margin-top: 20px;
  padding: 10px 0;
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
@media (min-width : 660px) {
  .page-footer__inner {
    display: flex;
  }
  .page-footer__logo {
    margin-right: 60px;
  }
  .page-footer__list {
    max-width: 602px;
    justify-content: space-between;
    display: flex;
    margin: 0;
  }
  .page-footer__nav {
    width: 100%;
  }
  .page-footer__link {
    font-size: 12px;
  }
  .page-footer__item:last-child {
    display: none;
  }
}
@media (min-width: 1180px) {
  .page-footer__logo {
    margin-right: 160px;
  }
  .page-footer__list {
    max-width: none;
  }
}
