.about {

  &__title {
    font-size: 24px;
    line-height: 66px;
    margin-top: 40px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__column {
    order: 2;

    &--mobile {
      display: flex;
      order: 1;
    }
  }

  &__subtitle {
    text-align: left;
  }

  &__desc,
  &__text {
    font-family: Circe, sans-serif;
    font-weight: 700;
    color: @color-h2;
    font-size: 14px;
  }

  &__text {
    font-weight: 400;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media @screen-sm {

    &__title {
      margin-top: 80px;
      font-size: 28px;
      flex-shrink: 0;
      text-align: left;
      line-height: initial;
    }

    &__subtitle {
      line-height: initial;
      font-size: 26px;
    }

    &__inner {
      flex-direction: row;
    }

    &__column {
      order: 2;

      &--width {
        flex-shrink: 1;
        max-width: 327px;
        margin-right: 34px;
      }

      &--pic {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: -40px;
        flex-grow: 2;
        flex-shrink: 0;
        max-width: 313px;
        margin-left: auto;
      }
    }

    &__img {
      border-radius: 50%;
    }
  }

  @media @screen-lg {

    &__title {
      margin-top: 150px;
    }

    &__column {
      &--width {
        max-width: 550px;
      }

      &--pic {
        align-items: center;
        max-width: 509px;
        margin-top: -100px;
      }
    }

    &__desc {
      font-size: 20px;
    }

    &__text {
      font-size: 18px;
    }

    &__picture,
    &__img {
      width: 100%;
    }
  }
}
