.about {

  &__title {
    font-size: 24px;
    line-height: 66px;
    margin-top: 40px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__column {
    order: 2;

    &--mobile {
      display: flex;
      order: 1;
    }
  }

  &__subtitle {
    text-align: left;
  }

  &__desc,
  &__text {
    font-family: Circe, sans-serif;
    font-weight: 700;
    color: @color-h2;
    font-size: 14px;
  }

  &__text {
    font-weight: 400;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
