.cakes {
  padding-top: 20px;
  background-color: @color-bg;

  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 66px;
    letter-spacing: 0.04px;
  }

  &__item {
    min-height: 120px;
    margin-bottom: 10px;
    background-size: cover;

    &--classic {
      background-image: url("../img/classic-cake-mobile.png");
    }

    &--mousse {
      background-image: url("../img/mousse-cake-mobile.png");
    }

    &--wedding {
      background-image: url("../img/wedding-cake-mobile.png");
    }

    &--man {
      background-image: url("../img/mans-cake-mobile.png");
    }

    &--woman {
      background-image: url("../img/woman-cake-mobile.png");
    }

    &--children {
      background-image: url("../img/children-cake-mobile.png");
    }
  }

  &__category,
  &__counter {
    font-size: 14px;
    font-family: Circe, sans-serif;
    font-weight: 400;
    color: #2d2829;
  }

  &__counter {
    font-size: 12px;
  }

  &__text {
    display: none;
  }

  &__link {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    padding-top: 14px;
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;
  }



}
