.intro {
  padding-top: 130px;
  background-image: url("../img/header-cake-mobile.png");
  background-position: center -205px;
  background-repeat: no-repeat;
  background-color: @color-bg;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url("../img/header-cake-mobile@2x.png");
    background-size: 391px 391px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin: 0 auto;
    margin-top: 28px;
    order: 2;
  }

  &__features {
    order: 1;
  }

  &__item {
    padding-left: 42px;
    margin-bottom: 25px;
    font-family: Circe, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: @color-text;
    position: relative;

    &::before {
      display: block;
      width: 33px;
      height: 33px;
      content: "";
      background-color: transparent;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }

    &:first-child {
      &::before {
        background-image: url("../img/feature-1.png");

        @media
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
          background-image: url("../img/feature-1@2x.png");
        }
      }
    }

    &:last-child {
      &::before {
        background-image: url("../img/icon-delivery.png");

        @media
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
          background-image: url("../img/icon-delivery@2x.png");
        }
      }
    }
  }

  &__break {
    &--hidden {
      display: none;
    }
  }

  @media @screen-sm {
    padding-top: 110px;
    background-image: url("../img/header-cake-desktop.png");
    background-size: contain;
    background-position: right 13px;

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url("../img/header-cake-desktop@2x.png");
      background-size: 768px 941px;
    }

    &__title,
    &__subtitle {
      text-align: left;
    }

    &__btn {
      order: 1;
      margin: 0;
      margin-top: 40px;
      margin-bottom: 140px;
    }

    &__list {
      display: flex;
    }

    &__item {
      margin-bottom: 0;

      &:first-child {
        margin-right: 140px;
      }
    }

    &__break {
      &--hidden {
        display: block;
      }
    }
  }

  @media @screen-lg {
    background-image: url("../img/header-cake-desktop.png"), url("../img/header-decor-1.png"), url("../img/header-decor-2.png"), url("../img/header-decor-3.png");
    background-position: right 16px, top 44px left 41.07%, top 228px left 38.36%, top 388px left 26.21%;
    padding-bottom: 350px;
    background-size: initial;

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url("../img/header-cake-desktop@2x.png"), url("../img/header-decor-1@2x.png"), url("../img/header-decor-2@2x.png"), url("../img/header-decor-3@2x.png");
      background-size: 768px 941px,111px 110px, 63px 60px, 168px 119px;
    }

    &__title {
      font-size: 78px;
      line-height: 70px;
    }

    &__subtitle {
      font-size: 41px;
    }
  }


}
