.main-nav {


  &--closed {
    //display: none;
  }

  &__link {
    display: block;
    padding-top: 19px;
    padding-bottom: 15px;
    font-family: Circe, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: @color-link;
    text-align: center;
    background-color: #e7e7e7;
    text-transform: uppercase;
    box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.95);

    &--hidden {
      display: none;
    }
  }


}
