.page-header {
  position: relative;


  &__logotype {
    font-family: 'PlayFairDisplay', serif;
    font-weight: 700;
    color: @color-text;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.24px;
  }

  &__inner {
    padding: 4px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggler {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 18px;
    height: 14px;
    background-color: transparent;
    border: none;
    padding: 0;

    & span {
      position: absolute;
      display: block;
      width: 18px;
      height: 2px;
      background-color: @color-text;
    }

    & span:nth-child(1) {
      top: 0;
    }

    & span:nth-child(2) {
      top: 6px;
    }

    & span:nth-child(3) {
      top: 12px;
    }
  }


}
