.quotes {
  padding-top: 74px;

  &__quote {
    position: relative;
    font-size: 13px;
    font-family: 'PlayFairDisplay', serif;
    font-weight: 700;
    color: #2d2829;
    font-style: italic;
    max-width: 258px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.26px;

    &::before {
      content: "’’";
      position: absolute;
      left: 50%;
      top: -60px;
      transform: translateX(-50%);
      font-size: 60px;
      font-family: PlayFairDisplay, serif;
      font-weight: 700;
      color: #ffffff;
    }
  }

  &__pic {
    margin-top: 22px;
    text-align: center;
  }

  @media @screen-sm {
    margin-top: 40px;

    &__quote {
      max-width: 346px;
      font-size: 14px;
      line-height: 20px;

      &::before {
        font-size: 77px;
      }
    }
  }

  @media @screen-lg {
    margin-top: 100px;

    &__quote {
      max-width: 500px;
      font-size: 25px;
      line-height: 38px;

      &::before {
        font-size: 140px;
      }
    }
  }
}
