@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('Circe regular'), local('Circe-regular'),
  url('../fonts/circe-regular') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/circe-regular') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('Circe bold'), local('Circe-bold'),
  url('../fonts/circe-bold') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/circe-bold') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'IntroScriptR-H2Base';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('IntroScriptR-H2Base'), local('IntroScriptRH2Base'),
  url('../fonts/IntroScriptR-H2Base') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/IntroScriptR-H2Base') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src: local('Open Sans'), local('Open-sans'),
  url('../fonts/open-sans-300') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/open-sans-300') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'PlayFireDisplay';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('Play Fire Display'), local('Play-Fire-Display'),
  url('../fonts/play-fire-display-700') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/play-fire-display-700') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'PlayFireDisplay';
  font-style: italic;
  font-weight: 700;
  font-display: optional;
  src: local('Play Fire Display'), local('Play-Fire-Display'),
  url('../fonts/play-fire-display-700italic') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/play-fire-display-700italic') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('Roboto regular'), local('Roboto regular'),
  url('../fonts/roboto-regular') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-regular') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

